@import '_mixins.scss';


body, html{
    background-color: $bg;
    flex-wrap: nowrap;
    flex-direction: column;
}
.burger{
    display: none;
}
.hover_widnow{
    display: none;
    height: 100vh;
    width: 100%;
    background-color: #0F0F0F;
    display: block;
    color: $text_collor;
    padding-top: 10% !important;
    .button {
        width: 100%;
        font-size: 20px;
        height: 40px;
        border: 1px solid $text_collor;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        a{
            width: 100%;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: $text_collor;
        }
    }
}
body{
    display: flex;
    max-width: 100%;
}
footer{
    position: relative;
    bottom: 0;
    flex-shrink: 0;
}
main{
    padding-top: 130px;
    min-height: 68vh;
    flex-grow: 1;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none
}
.logo {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: $text_collor;
    white-space: nowrap;
}
header{
    position: fixed;
    z-index: 6;
    width: 100%;

    .navigation_menu{
        @include header;
    }

    a .navigation_element {
        @include navigation_elem;
    }
    .selected {
        background-color: $selected_navigation;
    }
    a:hover .navigation_element {
        @include navigation_elem;
        color: $hover_navigatioon;
    }
    .navigation_flex{
    a:active {
        background-color: #3D3D3D;
        transition: all 0.5s ease;
    }
}


    .user_element{
        @include user_element;
    }

    .user_bar_content a:hover{
        color:$hover_navigatioon;
        .backet{ 
            svg path {
            stroke: $hover_navigatioon;
            }
        }
    }

    .search_bar{
        width: 100%;
        //height: 100%;
        margin: auto;
        form{
            display: flex;
            input[type="search"]{
                @include input_bar;
            }
        input[type="search"]:focus{  
            outline: none;
            //color: $text_collor;
            }
        button{
            transition: 0.1s;
            @include search_button;
            *{
                margin: auto
            }
        }
        button:hover{
            transition: 0.1s;
            background-color: $search_button_bg_hover;
        }
    }
}
}
.main_container{
    padding-top: 130px;
    .background{
        @include bg_img;
    }
}

.welcome_board_contaner{
    color: $text_collor;
    .name_of_site{
        font-size: 96px;
        font-weight: bold;
    }
    .tagline{
        span{
            font-size: 24px;  
        }
        font-size: 64px;
        
    }
}
.audio_contaner{
    color:$text_collor;
    .header{
        font-size: 48px;
        margin-left: 40%;
    }
    .audio_js *{
        transition: transform 0.3s ease;
    }
    .button{
        display: flex;
        flex-direction: column;
        text-align: center;
        
        img{
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            height: 80%;
            z-index: 2;
        }
        span{
            position: relative;
            margin-top: -25%;
            font-size: 32px;
        }
    }
}

.video_contaner{
    color:$text_collor;
    .header{
        font-size: 48px;
        margin-left: -40%;
    }
    .video_js *{
        transition: transform 0.3s ease;
    }
    .button{
        display: flex;
        flex-direction: column;
        text-align: center;
        
        img{
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            height: 80%;
        }
        span{
            position: relative;
            margin-top: -25%;
            font-size: 32px;
        }
    }
}

.footer_contaner{
    color: $text_collor;
    //box-shadow: 0px -4px 69px 2px #1B103A;
    .about_us{
        span{
            font-size: 24px;
        }
    }
    .support{
        margin: auto;
        span{
            font-size: 24px;
        }
        a{
            display: block;
        }
    }
    .contacts{
        .header{
            font-weight: bold;
        }
        .params{
            text-align: right;
        }
    }
}

.authorization, .sign_up{
    background-color: $authorization_bg;
    .authorization_contaner, .sign_up_contaner{
        margin-left: 2.5%;
        margin-top: 1%;
        .logo_contaner{
            margin-top: auto;
            margin-bottom: auto;
            .logo_flex{
                justify-content: left;
            }
        }
        .user_status{
            font-size: 18px;
            justify-content: right;
            margin-right: 20%;
            div{
                margin-top: auto;
                margin-bottom: auto;
                color: $authorization_user-status_text_color;
            }
            a{
                margin-top: auto;
                margin-bottom: auto;
                color: $authorization_user_link_color;
            }
            a:hover{
                color: $authorization_user-link-hover_color;
            }
        }
        .main-area{
            justify-content: center;
            @include autorizaton_form;
            form{
                width: 100%;
                color: $text_collor;
                .header{
                    color: $text_collor;
                    margin: auto;
                    font-weight: bold;
                    font-size: 30px;
                    text-align: center;
                }
                .main-area_contaner{
                    div{
                     margin-left: 12.5%;
                        margin-right: 13%;
                    }

                    input:not([type="submit"]){
                        background-color: $authorization_fomr_bg;
                        border: solid $text_collor 1px;
                        height: 40%;
                        border-radius: 10px;

                        color: $text_collor;
                        padding-left: 2.5%;
                        font-size: 20px;
                    }
                    .submit{
                        margin-left:auto;
                        margin-right: auto;
                        input[type = "submit"]{
                            width: 180px;
                            height: 40px;

                            background-color: $submit_button_bg;
                            border: solid $submit_button_border_color 2px;
                            color: $text_collor;
                            border-radius: 10px;
                        }
                        input[type = "submit"]:hover{
                            background-color:$sybmit_button_bg_hover;
                        }
                    }
                    input[type='radio']{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.intermediate_conataner{
    
    width:  clamp(1180px,100%,1392px);
    color: $text_collor;
    .categories{
        span{
            font-size: 32px;
            font-weight: bold;
        }
        hr{
            //border-color: $border_color;
            border: 5px dashed $border_color;
        }
        ul{
            list-style: none;
            li{
                a{
                    font-size: 24px;
                    color: $text_collor;
                    img{
                        width: 40px;
                        border-radius: 15px;
                        display: none;
                    }
                }

            }
            li:hover{
                background: $categoris_hover;
            }
        }
    }
    .examples{
        .header{
            font-weight: bold;
            font-size: 32px;
            justify-content: left !important;
        }
        .interative_zone_contaner{
            
            .interative_zone{
                justify-content: center;
                .gui_bar{
                    span{
                        margin-top: auto !important;
                        margin-bottom: auto !important;
                        margin:0 4px ;
                        display: block;
                        width: 45px;
                        height: 3px;

                        cursor: pointer;
                    }
                    .active{
                        background: $gui_bar_segment_active;
                    }
                    .disactive{
                        background: $gui_bar_segment_disactive;
                    }
                }
                .button{
                    cursor: pointer;
                }
                .button:hover{
                    svg{
                        path{
                            stroke: $hover_navigatioon;
                        }
                    }
                }
            }
        }
        .goods_contaner{
            width: clamp(560px,100%, 1100px);
           .visible_area{
            height: 100%;
            width: 100%;
            padding: 22px 0px;
            //margin-left: -15px;
            position: relative;
            overflow: hidden;
            box-sizing: border-box;
            outline: 0 !important;
            .moviable_block{
                position: relative;
                width: 100%;
                height: 100%;
                transition-property: transform;
                box-sizing: content-box;

                transition: all 0.5s ease;
                }
                .goods{
                    flex-shrink: 0;
                    width: 21.27%;
                    margin: -10px 20px;



                    .contaner{
                        width: 100%;
                        border-radius: 20px;

                        transition: box-shadow 0.2s ease;

                        a{
                          margin: auto;
                            img{
                                margin-top: 5px;
                                border-radius: 20px;
                                width: 200px;
                            }
                        }
                        .name_area{
                            margin-bottom: 15%;
                            padding: 0px 15% ;
                            font-size: 20px;
                        }
                        .coast_contaner{
                            padding: 0px 15% ;
                            font-weight: bold;
                            .rubels{
                                font-size: 32px;
                            }
                        }
                        .button{
                            justify-content: center;
                            align-items: center;
                            svg{
                                width: 80%;
                                height: 80%;
                                cursor: pointer;
                            }

                            svg:hover{
                                rect{
                                    fill: #FC0000;
                                }
                            }
                        }
                    }
                }
           }
        }
    }
}


.catalog{
    color: $text_collor;
    main{
        .contaner{
            .params_area{
                background-color: $catalog_bg_params;
                .main_area{
                    margin-top: 5%;
                    width: 90%;
                    margin-left:5%;
                    margin-right: 5%;
                    height: 95%;

                    .type_of_catalog{
                        font-size: 32px;
                        font-weight: bold;
                    }
                    .filters{
                        font-size: 28px;
                    }
                    .filters_area{
                        height: 100%;
                        margin:0 5%;

                        .scroll_area{
                            //background-color: aqua;
                            width: 100%;
                            .head{
                                font-size: 24px;
                            }
                            .input_area{
                                .block{
                                    
                                    input{
                                        height: 42px;
                                        width: 95%;
                                        border-radius: 10px;
                                        border: 1px solid $text_collor;
                                        color: $catalog_scrol_number_color;
                                        font-size: 24px;
                                        padding-left: 5%;
                                        background-color: $catalog_bg_params;
                                    }
                                }

                            }
                            
                            .scroll{
                                .inp_range{
                                    margin: 8px 12px;

                                    .bg{
                                        width: 100%;
                                        height: 6px;
                                        border-radius: 10px;
                                        background-color: $unactive_scroll;
                                        .user_input{
                                            background-color: $active_scroll;
                                            //width: 50%;
                                            height: 100%;
                                        }
                                    }
                                }

                                .bubles{
                                    position: relative;
                                    top: -24px;
                                    div{
                                        touch-action: none;
                                        border-radius: 50%;
                                        position: relative;
                                        background-color: $catalog_bg_params;
                                        border: 8px solid;
                                        border-color: $active_scroll;
                                        width: 10px;
                                        height: 10px;
                                    }
                                    .max{
                                        position: relative;
                                        top: -26px;
                                        right:-92.5%;
                                    }
                                }
                            }
                        }

                        .simple_filter{
                            width: 100%;
                            .head{
                                font-size: 24px;
                            }
                            .contaner{
                                margin-left: 5%;

                                .brend{
                                    font-size: 20px;
                                    cursor: pointer;
                                    input{
                                        width: 0;
                                        height: 0;
                                    }
                                    align-items: center;
                                    .border{
                                        width: 20px;
                                        height: 20px;
                                        border-radius: 8px;
                                        border: 2px solid $text_collor;
                                        .contant{
                                            display: none;
                                        }
                                        }
                                    }

                                    input:checked~.border{
                                        background-color: $active_scroll    ;
                                     .contant {
                                        display: block;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .goods_area{
            background-color: $catalog_bg;
             
            .contaner{
                hr{
                    margin-left: 5%;
                    width: 90%;
                    border-color: $catalog_hr;    
                }
                .goods{
                    border-radius: 20px;  
                    margin: 2%;
                    transition: all 0.2s linear;
                    .img{
                        margin-left: 5%;
                        text-align: center;
                        img{
                            border-radius: 20px;
                            width: 200px;
                            height: 200px;
                        }
                    }
                    .name{
                        text-align: left;
                        
                        .name_cont{
                            color:$text_collor;
                            font-size:32px;
                            font-weight: bold;
                        }
                        .name_cont:hover{
                            color:$hover_navigatioon;
                        }
                    }

                    .status{
                        font-size: 24px;
                        .curcle{
                            background-color: limegreen;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                        }

                    }
                    .extra{
                          .extra_param{
                            font-size: 20px;
                            .status{
                                font-size: 18px;
                                font-weight: bold;
                            }
                          }  
                    }
                    .buy{
                        .buy_contaner{
                            margin-right: 15%;
                            svg{
                                cursor: pointer;
                                width: 100%;
                            }
                            svg:hover{
                                rect{
                                    fill: #FC0000;
                                }
                            }
                            .button{
                                margin-right: 5%;
                                margin-top: 5%;
                            }
                        }
                    }
                    .coast{
                        font-size: 24px;
                        font-weight: bold;
                        .rubels{
                            font-size: 40px;
                        }
                    }
                }
                .goods:hover{
                    box-shadow: 0px 0px 15px 0px #141A99;
                }
            }    
        }
    }
}

.product_window{

    button{
        background: 0;
        border: 0;
    }

    main{
        background-color: $catalog_bg;
        color: $text_collor;
        flex-direction: column;
        .name{
            font-size: 30px;
            font-weight: bold;
        }
        .images{
            margin-top: 2%;
            justify-content: center;
            align-items: center;
            .main_image{
                width: 350px;
                .image{
                    border-radius: 20px;
                    width: 100%;
                }
            }
            .intaractive{
                align-items: center;
                margin-top: 2%;
                .button{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                   
                    transition: all 0.09s linear;
                }
                .button:hover.clicked {
                    background-color: #3400C6 !important;
                }
                .button:hover{
                    //background-color: #14004D;
                    box-shadow: 0px 0px 20px 1px rgba(0, 198, 186, 25%);
                    cursor: pointer;
                }
                .small_img{
                    .elem{
                        margin: 0 5px;
                        .img{
                            margin: 5px;
                            width: 80px;
                            img{
                                border-radius: 10px;
                                width: 100%;
                                border: 3px solid $catalog_bg;
                            }
                            .active{
                                border: 3px solid $gui_bar_segment_active;

                                transition: border 0.1s linear;
                            }
                        }
                    }
                }
            }
        }
        .info{
            //align-items: center;
            line-height: 30px;
            .header{
                margin-top: 2%;
                font-size: 24px;
                font-weight: bold;
            }
           .info_area{
            
            margin-top: 15px;
            margin-left: 5px;
            font-size: 18px;
           } 
        }
        .buy{
            margin-top: 2%;
            .line{
                hr{
                    border: 2px dashed;
                    border-color: #141A99;
                }
                margin-bottom: 20px ;
            }
            .button{
                text-align: right;
                button{
                svg{
                    width: 100%;
                }
            }
            button:hover{
                svg{

                    rect{
                        fill:#FC0000;
                    }
                }
            }
            }
            .status{
                margin-bottom: 20px;
                .curcle{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
                .line{
                    margin: 0;
                    font-size: 24px;
                }
            }
            .coast{
                font-weight: bold;
                .rubels{
                   font-size: 40px;
                }
                .kopecks{
                    font-size: 24px;
                }
            }
        }
    }
    .extro_info{
        hr{
            border-color: #141A99;
        }
        .contaner{
            margin-top: 2.5%!important;
            margin-bottom: 5%!important;

            .head{
                font-size: 28px;
                font-weight: bold;
            }
            table{
                margin-top: 2.5%;
                border-collapse: collapse;
                td {
                    padding: 8px;
                    padding-top: 2.5%;
                    padding-bottom: 1%;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-bottom: 1px dashed blue;

                    font-size: 20px;
                }
                .type{
                    padding-left: 5%;
                    vertical-align: top;
                }
                .text{
                    font-weight: bold;
                    width: 40%;
                }
                .last{
                    td{
                    border-bottom: none;
                    }
                }
            }
        }
    }
}

.basket{
    color: $text_collor;
    main{
        background-color: #1F1F1F;
        .contaner{
        
            margin-top: 10%;
            margin-left: 5%;
            margin-right: 5%;
            .basket_head{
                margin-bottom: 10%;
                font-size: 40px;
                font-weight: bold;
            }
            .boady{
                .header{
                    font-size: 32px;
                    font-weight: bold;
                    margin-bottom: 5%;
                }
                .text{
                    font-size: 20px;
                    a{
                        color: #0085FF;
                    }
                    a:active{
                        color: #000AFF;
                    }
                }
            }
        }
    }

    main{
        .goods{
            margin-top: 4%;
            margin-left: 10%;
            width: 100%;
            .basket_head{
                margin-bottom: 5%;
                font-size: 40px;
                font-weight: bold;
            }
            .elem{
                width: 85%;
                hr{
                    border-color: #141A99;
                }
                .contaner{
                    margin: 0;
                    margin-top: 5%;
                    div{
                    margin-right: 2%;
                    }
                    .select_area{
                        justify-content: center;
                        text-align: center;
                        align-items: center;
                        div{
                            //margin-left: 25%;
                            input{
                                display: none;
                                }
                            .border{
                                width: 20px;
                                height: 20px;
                                border: 2px solid $text_collor;
                                border-radius: 6px;
                                cursor: pointer;
                                .contant {
                                    display: none;
                                    } 
                            }
                            input:checked~.border{
                                background-color: $active_scroll    ;
                                .contant {
                                display: block;
                           
                            }
                        }   
                    }
                    }
                    .image{
                        img{
                            width: 150px;
                            border-radius: 15px;
                        }
                    }
                    .info{
                        .contaner{
                            .name{
                                font-size: 18px;
                                font-weight: bold;
                            }
                            .status{
                                .curcle{
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 50%;
                                    background-color: blueviolet;
                                }
                                .text{
                                    font-size: 16px;
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                    .intaractive{
                        .contaner{
                            align-items: center;
                            .input{
                                align-items: center;
                                border-radius:  10px;
                                border: 1px solid #4A4A4A;
                                color: $text_collor;
                                input{
                                    font-size: 20px;    
                                    text-align: center;
                                    color: $text_collor;
                                    width: 50%;
                                    height: 40px;
                                    border: none;
                                    background-color: #404040;
                                }
                                input:focus{
                                    outline: none;
                                }
                                button{
                                    
                                    width: 25%;
                                    height: 40px;
                                    font-size: 20px;
                                    border: none;
                                    background-color: #0F0F0F;
                                }
                                .plus{
                                    font-size: 22px;  
                                    color: $text_collor;
                                    border-radius: 0px 10px 10px 0px;
                                    cursor: pointer;
                                }
                                .minus{
                                    font-size: 22px;  
                                    color: $text_collor;
                                    border-radius: 10px 0px 0px 10px;
                                    cursor: pointer;
                                }
                                button:active{
                                    background-color: #3D3D3D;
                                }
                            }
                            .delete{
                                margin-top: 15%;
                                text-align: center;
                                font-size: 18px;
                                color: #939393  ;
                                transition: color 0.2s linear;
                            }
                            .delete:hover{
                                color: $text_collor;
                                cursor: pointer;
                                transition: color 0.2s linear;
                            }
                        }
                    }
                    .coast{
                        .contaner{
                            font-weight: bold;
                            .rubels{
                                font-size: 40px;
                            }
                            .kopecks{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

        }
        .buy_ara{
            .area{
                .head{
                    font-size: 40px;
                    font-weight: bold;
                    margin-bottom: 5%;
                    }
                }
                .goods_list{
                    .list{
                        .elem{
                            font-size: 18px;
                            font-weight: bold;
                            margin-bottom: 5%;
                            .name{
                                width: 60%;
                            }
                            .coast{
                                width: 40%;
                                text-align: right;
                                .rubels{
                                    font-size: 35px;
                                }
                            }
                        }

                    }
                }
            .result{
                hr{
                    border-color: #141A99;
                }
                .coast{
                    margin-top: 5%;
                    width: 100%;
                    .result{
                        width: 60%;
                        font-size: 25px;
                        font-weight: bold;
                    }
                    .result_coast{
                        font-size: 42px;
                        font-weight: bold;
                        text-align: end;
                        width: 40%;
                    }
                }
                .button{
                    margin-top: 5%;
                    width: 100%;
                    height: 45px;

                    background-color: #ED3939;
                    border: 4px solid #F55E67;
                    border-radius: 10px;

                    color: $text_collor;
                    font-size: 20px;

                    transition: all 0.2s linear;
                }
                .button:hover{
                    background-color: #FC0000;
                    transition: all 0.2s linear;
                }
                .button:active{
                    background-color: #ff6161;
                }
            }
        }
    }
}

@media (max-width:870px) {
    .navigation_flex{
        display: none !important;
    }
    .logo_flex{
        margin-left: 2% !important;
    .logo{
        
        font-size: 26px;
        width: 100%;
        svg{
        width: 100%;
        }
    }
    }
    .burger{
        display: block;
        width: 40px;
        height: 40px;
        color: $text_collor;
        font-size: 40px;

        background-color: #141A99;
        border: 2px solid #1A58CE;
        border-radius: 10px;
    }
    footer{
        .about_us{
            font-size: 8px;
            span{
                font-size: 10px !important;
            }
        }
        .support{
            margin: 0 !important;
            span{
                font-size: 10px !important  ;
            }
            a{
                font-size: 8px;
            }
        }
        .contacts{
            font-size: 10px;
            .params{
                font-size: 8px;
            }
            .data{
                font-size: 6px;
            }
        }
    }
    .search_bar{
        form{
            width: 80%;
        }
        svg{
            display: none;
        }
    }
    .main_container{
        .name_of_site{
            font-size: 50px;
        }
        .tagline{
            font-size: 20px;
        }
    }
    .main_container{
        height: 1200px !important;
        .audio_contaner{
            .header{
            font-size: 20px;
            }
            .button{
                img{
                    width: 120%;
                }
                span{
                    margin-left: 25%;
                font-size: 10px;
                }
            }
        }
        .video_contaner{
            gap: 0;
            margin-left: -10px;
            .header{
                font-size: 20px;
                }
                .button{
                    img{
                        width: 110px;
                    }
                    span{
                    font-size: 10px;
                    }
                }
        }
    }

    .logo_contaner{
        .logo_flex{
            margin-top: 0 !important;
        .logo{
            font-size: 24px !important;
            width: 100%;
            svg{
            width: 100%;
            height: 100%;
            }
        }
    }
    }
    .user_status{

        font-size: 10px !important;
        margin-right: 2% !important;
        //justify-content: end !important;

        div{
            margin-bottom: 15% !important;
        }
        a{
            margin-bottom: 15% !important;
        }
    }
    .authorization{
        .main-area{
            width: 70% !important;
        }
    }

    .sign_up{
        .sign_up_contaner{
            .logo_contaner{
                .logo_flex{
                    margin-top: 0 !important;
                .logo{
                    font-size: 24px !important;
                    width: 30px;
                    svg{
                    width: 100%;
                    height: 100%;
                    }
                }
                }
            }
        }
        .user_status{

            font-size: 10px !important;
            margin-right: 2% !important;
            //justify-content: end !important;
    
            div{
                margin-bottom: auto !important;
            }
            a{
                margin-bottom: auto !important;
            }
        }
        .main-area{
            width: 70% !important;
        }
    }

    .intermediate_conataner{
        display: block !important;
        margin-right: 5%;

        .examples{
            display: none !important;
        }

        .categories{
            ul{

                li{
                    a{
                        img{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}