.logo_flex{
    display: flex;
    justify-content:center;
    gap: 2.5%;
    align-items: center;
    margin: 0px;
}

.navigation_flex{
    display: flex;
    flex-direction: row;
}
.navigation_element_flex{
    display: flex;
    width: 33%;
    justify-content: center;
    text-align: center;
}

.user_bar_flex{
    display: flex;
    justify-content: flex-end;
}

.user_bar_content{
    display: flex;
    flex-direction: row;
    gap:50%;
}

.search_bar_flex{
    display: flex;
    flex-direction: row;  
}

.name_of_site{
    display: flex;
    text-align: center;
    justify-content: center;
}

.tagline{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
}

.header{
    display: flex;
    justify-content: center;

}

.authorization_contaner, .sign_up_contaner{
    
    .user_status{

        display: flex;
        flex-direction: row;
        gap: 2.5%;
        justify-content: center;
        text-align: center;
    }
    .main-area_contaner{
    div{
        display: flex;
        flex-direction: column;
        gap:10%;
    }
    .forgot_password{
        flex-direction: row;
        gap:5%;
    }
    .sex{
        display: flex;
        flex-direction: column;
        .types {
            display: flex;
            flex-direction: row;
            margin: 0 !important;
            div{
                margin: 0 !important;
                display: flex;
                flex-direction: row !important;
                justify-content: left;
                }
            }
        }
    }
}


main{
    display: flex;
    width: 100%;
    
}

.intermediate_conataner{

    flex-grow: 1;
    .categories,  .examples{
        display: flex;
        flex-direction: column;

    }
    .categories{
        ul{
            display: flex;
            flex-direction: column;
            li{
                margin-top: 1.5%;
                margin-bottom: 1.5%;
                padding: 2%;
                
            }
        }
    }

    .interative_zone{
        display: flex;
        flex-direction: row;
        gap: 5%;
        .button{
            display: flex;
        }
        .gui_bar{
            display: flex;
            flex-direction: row;
        }
    }

    .examples_contaner{
        display: flex;
        flex-direction: column;
        height: 100%;
        .header{
            height: 10%;
        }

        .goods_contaner{
            height: 75%;
            .visible_area{
                .moviable_block{
                    display: flex;
                }
            }    
        }

        .interative_zone_contaner{
            height: 15%;
        }

        .contaner{
            height: 100%;
            display: flex;
            flex-direction: column;
            a{
                height: 50%;
            }
            .name_area{
                height: 25%;
            }
            .coat_contaner{
                height: 15%;
            }
            .button{
                height: 15%;
                display: flex;
            }
        }
    }
}

.catalog{
    main{
        .contaner{
            width: 100%;
            display: flex;
            flex-direction: row;
            .goods_area{
                flex:6;
                .contaner{
                    display: flex;
                    flex-direction: column;
                    gap: 5%;
                    margin: 2.5% 0px;
                    width: 100%;

                    .goods{
                        
                        .status{
                            display: flex;
                            flex-direction: row;
                            gap: 2.5%;
                            
                        }
                        .extra{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap:5%;
                            .extra_param{
                                display: flex;
                                flex-direction: row;
                                gap: 5%;
                                align-items: center;
                            }
                        }
                        .buy{
                            .buy_contaner{
                                display: flex;
                                flex-direction: column;
                                align-items: end;
                                gap: 5%;
                            }
                        }
                        .coast{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            align-items:baseline;
                        }
                    }

                }
            }
            .params_area{
                flex: 2;
                .main_area{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding-bottom: 5%;
                    .filters_area{
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 5%;

                        .scroll_area{
                            display: flex;
                            flex-direction: column;
                            .input_area{
                                display: flex;
                                flex-direction: row;
                                flex-wrap: nowrap;
                                gap: 5%;

                                margin-top: 2.5%;
                                margin-bottom: 2.5%;
                            }
                        }
                        .simple_filter{
                            display: flex;
                            flex-direction: column;
                            .contaner{
                                display: flex;
                                flex-direction: column;

                                margin-top: 5%;
                                margin-bottom: 5%;
                                .brend{
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: nowrap;
                                    gap: 5%;
                                    margin-top: 1.5%;
                                    margin-bottom: 1.5%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}