.logo_flex{
    display: flex;
    justify-content:center;
    gap: 2.5%;
    align-items: center;
    margin: 0px;
}
.hover_widnow{
    display: none;
    flex-direction: column;
    gap: 1%;
    align-items: center;
    .button a{
        display: flex;
    }
}
.navigation_flex{
    display: flex;
    flex-direction: row;
}
.navigation_element_flex{
    display: flex;
    width: 33%;
    justify-content: center;
    text-align: center;
}

.user_bar_flex{
    display: flex;
    justify-content: flex-end;
}

.user_bar_content{
    display: flex;
    flex-direction: row;
    gap:50%;
}

.search_bar_flex{
    display: flex;
    flex-direction: column;  
}

.name_of_site{
    display: flex;
    text-align: center;
    justify-content: center;
}

.tagline{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
}

.header{
    display: flex;
    justify-content: center;

}

.authorization_contaner, .sign_up_contaner{
    
    .user_status{

        display: flex;
        flex-direction: row;
        gap: 2.5%;
        justify-content: center;
        text-align: center;
    }
    .main-area_contaner{
    div{
        display: flex;
        flex-direction: column;
        gap:10%;
    }
    .forgot_password{
        flex-direction: row;
        gap:5%;
    }
    .sex{
        display: flex;
        flex-direction: column;
        .types {
            display: flex;
            flex-direction: row;
            margin: 0 !important;
            div{
                margin: 0 !important;
                display: flex;
                flex-direction: row !important;
                justify-content: left;
                }
            }
        }
    }
}


main{
    display: flex;
    width: 100%;
    
}

.intermediate_conataner{

    flex-grow: 1;
    .categories,  .examples{
        display: flex;
        flex-direction: column;

    }
    .categories{
        ul{
            display: flex;
            flex-direction: column;
            li{
                margin-top: 1.5%;
                margin-bottom: 1.5%;
                padding: 2%;
                
            }
        }
    }

    .interative_zone{
        display: flex;
        flex-direction: row;
        gap: 5%;
        .button{
            display: flex;
        }
        .gui_bar{
            display: flex;
            flex-direction: row;
        }
    }

    .examples_contaner{
        display: flex;
        flex-direction: column;
        height: 100%;
        .header{
            height: 10%;
        }

        .goods_contaner{
            height: 75%;
            .visible_area{
                .moviable_block{
                    display: flex;
                }
            }    
        }

        .interative_zone_contaner{
            height: 15%;
        }

        .contaner{
            height: 100%;
            display: flex;
            flex-direction: column;
            a{
                height: 50%;
            }
            .name_area{
                height: 25%;
            }
            .coat_contaner{
                height: 15%;
            }
            .button{
                height: 15%;
                display: flex;
            }
        }
    }
}

.catalog{
    main{
        .contaner{
            width: 100%;
            display: flex;
            flex-direction: row;
            .goods_area{
                flex:6;
                .contaner{
                    display: flex;
                    flex-direction: column;
                    gap: 5%;
                    margin: 2.5% 0px;
                    width: 100%;

                    .goods{
                        
                        .status{
                            display: flex;
                            flex-direction: row;
                            gap: 2.5%;
                            
                        }
                        .extra{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap:5%;
                            .extra_param{
                                display: flex;
                                flex-direction: row;
                                gap: 5%;
                                align-items: center;
                            }
                        }
                        .buy{
                            .buy_contaner{
                                display: flex;
                                flex-direction: column;
                                align-items: end;
                                gap: 5%;
                            }
                        }
                        .coast{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            align-items:baseline;
                        }
                    }

                }
            }
            .params_area{
                flex: 2;
                .main_area{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding-bottom: 5%;
                    .filters_area{
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 5%;

                        .scroll_area{
                            display: flex;
                            flex-direction: column;
                            .input_area{
                                display: flex;
                                flex-direction: row;
                                flex-wrap: nowrap;
                                gap: 5%;

                                margin-top: 2.5%;
                                margin-bottom: 2.5%;
                            }
                        }
                        .simple_filter{
                            display: flex;
                            flex-direction: column;
                            .contaner{
                                display: flex;
                                flex-direction: column;

                                margin-top: 5%;
                                margin-bottom: 5%;
                                .brend{
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: nowrap;
                                    gap: 5%;
                                    margin-top: 1.5%;
                                    margin-bottom: 1.5%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.product_window{
    main{
        .name{
            display: flex;
        }
        .images{
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 5%;
            .main_image{
                flex: 9;
            }
            .intaractive{
                flex: 1;
                display: flex;
                flex-direction: row;
                .button{
                    margin: 0 5px;
                }
                .small_img{
                    display: flex;
                    flex-direction: row;
                }
            }
        }
        .info{
            display: flex;
            flex-direction: column;
        }
        .buy{
            display: flex;
            flex-direction: column;
        }
        .status{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        .coast{
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }
    }
    .extro_info{
        .contaner{
            display: flex;
            flex-direction: column;
            margin: 0 15%;

        }
    }
}

.basket{
    main{
        .contaner{
            display: flex;
            flex-direction: column;

            .boady{
                display: flex;
                flex-direction: column;
                .header{
                    justify-content: left;
                }
            }
        }

            .goods{
                flex: 7;

                .elem{
                    .contaner{
                        display: flex;
                        flex-direction: row;
                        .select_area{
                            flex: 1;
                        }
                        .image{
                            flex: 3;
                        }
                        .info{
                            flex: 5;
                            .contaner{
                                margin: 0;
                                display: flex;
                                flex-direction: column;
                                div{
                                    margin-bottom: 4%;
                                }
                                .status{
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                }
                            }
                        }
                        .intaractive{
                            flex: 3;
                            .contaner{
                                display: flex;
                                flex-direction: column;
                                margin: 0;
                                .input{
                                    display: flex;
                                    flex-direction: row;
                                    width: 125px;
                                }
                            }
                        }
                        .coast{
                            flex: 2;
                            .contaner{
                                display: flex;
                                margin: 0;
                                align-items: baseline;
                                justify-content: flex-end;
                            }
                        }
                    }
                }
            }
            .buy_ara{
                flex: 3;
                margin-top: 4%;
                margin-right: 15%;
                .area{
                    display: flex;
                    flex-direction: column;

                    .goods_list{
                        .list{
                            display: flex;
                            flex-direction: column;

                            .elem{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: flex-end;

                                .coast{
                                    display: flex;
                                    flex-direction: row;
                                    align-items: baseline;
                                    flex-wrap: nowrap;
                                    justify-content: end;
                                }
                            }
                        }
                    }
                    .result{
                        display: flex;
                        flex-direction: column;
                        .coast{
                            display: flex;
                            flex-direction: row;
                            align-items: baseline;
                        }
                    }
                }
            }
        
    }
}


@media (max-width:870px) {
    .user_bar_flex{
        justify-content: center;
        .user_bar_content{
            gap: 25%;
        }
    }
    .logo_flex{
        margin-top: 5px;
        margin-right: 7%;
        justify-content: end;
        align-items: center;
    }
    .search_bar{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        .burger{

            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
    .intermediate_conataner{
        .categories{

            ul{
                li{
                    a{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-items: center;
                        gap: 5%;
                    }
                }
            }
        }
    }

    .catalog{
        .contaner{
        flex-direction: column !important;

        .mobyle_extra_erea{
            display: flex;
            flex-direction: column;
            

            .button{
                display: flex;
                align-items: center;
                justify-content: center;
                button{
                gap: 2%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                }
            }
        }
        .params_area{
            flex: none !important;
            .intermaediate_area{
                display: none;
            }
        }
        .goods_area{
            .contaner{
                flex-direction: row !important;
                flex-wrap: wrap;
            }
        }
    }

    }

    .basket{
        main{
            flex-direction: column;

            .goods{
                .elem{
                    .contaner{
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}