.grid_header{
    margin-left: 0%;
    margin-right: 10%;
    display: grid;
    height: 100%;
    grid-template-areas: 
     "logo navigation user_bar"
     "logo search_bar .";
    grid-template-columns: 40% 45% 15%,;
    grid-auto-rows: 50%;
}

.main_container{
    display: grid;
    grid-template-rows: 30% 5% 30% 5% 30%;
    height: 2000px;
}

.welcome_board_contaner{
    width: 80%;
    height: 80%;
    position: relative;
    top: -85%;
    left: 10%;
    display: grid;
    grid-template-columns: 40% 60%;
}
.audio_contaner, .video_contaner{
    width: 80%;
    height: 80%;
    position: relative;
    top: -90%;
    left: 10%;
    display: grid;
    grid-template-areas: 
    "header header header"
    "elem1 elem2 elem3";
    grid-template-rows: 20% 80%;
    gap: 10px;
}

.footer_contaner{
    display: grid;
    margin-left:10% ;
    margin-right: 10%;
    margin-top: 2.5%;
    margin-bottom: 1%;
    grid-template-columns: 33% 33% 33%;
    gap: 5%;
}
.contacts{
    display: grid;
    grid-template-areas:
    "header header"
    "telephone telephone_data"
    "mail mail_data";
    gap:5%;
}

.authorization_contaner, .sign_up_contaner{
    display: grid;
    grid-template-areas:
    "logo user_status"
    "main-area main-area";
    grid-template-rows: 10% 90%;
    height: 90vh;
}
.authorization_contaner{
.main-area_contaner{
    display: grid;
    grid-template-areas: 
    "header"
    "mail"
    "password"
    "forgot_password"
    "submit";
    width: 100%;
    height: 100%;

    grid-template-rows: 20%  18.3%  18.3%  18.3% 25%;
} 
}

.sign_up_contaner{
    .main-area_contaner{
    display: grid;
    grid-template-areas: 
    "header"
    "name"
    "sex"
    "mail"
    "password"
    "submit";

    width: 100%;
    height: 100%;

    grid-template-rows: 20% 15% 15% 15% 15% 20%;
}
}

.intermediate_conataner{
    display: grid; 
    grid-template-columns: 25% 70%;
    grid-row: 1;
    margin-top: 1%;
    margin-left: 5%;
    //grid-gap: 5%;
    
}

.catalog{
    main{
        .contaner{
            .goods_area{
                .contaner{
                    .goods{
                        display: grid;
                        grid-template-areas: 
                        "img name       name"
                        "img status     buy"
                        "img extro_info buy";
                        grid-template-rows: 25% 25% 50%;
                        grid-template-columns: 25% 40% 35%;

                        width: 96%;
                    }
                }
            }
        }
    }
}

.product_window{
    main{
        .main_area{
            margin-top: 20px;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 5%;
            display: grid;
            grid-template-areas: 
            "name name name"
            "images info buy";

            grid-template-rows: 10% 90%;
            grid-template-columns: 40% 40% 20%;

        }
    }
}

@media (max-width:870px) {
    .grid_header{
        grid-template-areas: 
        "logo  user_bar user_bar"
        "search_bar search_bar search_bar";
        margin: 0;

        grid-template-rows: 50% 50%;
        grid-template-columns: 60% 20% 20%;
    }
    .main_container{
        grid-template-rows: 30% 10% 25% 10% 25%;
    }
    
}