$navigation_bg: rgb(0,0,0);
$bg: rgb(11,11,11);
$text_collor: #FFFFFF;

$hover_navigatioon: #1A58CE;
$selected_navigation: #3D3D3D;

$search_bar_bg: #A4A4A4;
$search_bar_border: #1A58CE;

$search_button_bg: #3C3AB2;
$search_button_bg_hover: #4946DC;

$authorization_bg: #121212;
$authorization_user-status_text_color: rgba(255,255,255,40%);
$authorization_user-link_color: rgb(255, 255, 255);
$authorization_user-link-hover_color: rgb(26, 88, 206);
$authorization_fomr_bg: #0B0B0B;
$submit_button_bg:#141A99;
$submit_button_border_color: #1685D6;
$sybmit_button_bg_hover:#1A20AC;
$link_color: #1A58CE;
$link_color_hover: #266CF1;

$border_color:#141A99;
$categoris_hover:#181818;
$gui_bar_segment_active: #1A58CE;
$gui_bar_segment_disactive: #5F5F5F;
